@model IEnumerable<Online_Agricultural_Consultant.Models.tblSiteVisit>
@using Online_Agricultural_Consultant.Models
@{
    ViewBag.Title = "rta_assign";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    var Expert = (List<tblExpertDetail>)ViewBag.Experts;
}

<div class="page-content">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <br />      <br />
            <h1><u>Manage Site Visit Applications</u></h1>
        </div>
    </div>
   <br />
    <div class="tabbable page-tabs">
        <div class="tab-content">
            @if (TempData["MSG__"] != null)
            {
                @Html.Raw(TempData["MSG__"])
            }
            <div class="tab-pane active fade in" id="inside">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    @if (Model.Count() > 0 && Model != null)
                    {
                        <div class="datatable">
                            <table class="table">
                                <thead style="font-size:15px;">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ApplicationId)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.FieldType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FieldLocation)
                                        </th>
                                        <th>
                                            Created By
                                        </th>
                                        <th>

                                            Created On
                                        </th>
                                        <th>
                                           Assigned To
                                        </th>
                                      
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in Model)
                                        {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationId)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.FieldType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FieldLocation)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FarmerId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreationDate)
                                        </td>
                                        <td>
                                            @if (item.AssignedAsst != null)
                                            {
                                                <b>@item.AssignedAsst</b>
                                            }
                                            else
                                            {
                                                <b style="color:red">Pending</b>
                                            }
                                        </td>
                                      
                                        <td>
                                            @if (item.ClosingDate != null && item.AssignedAsst != null)
                                            {
                                                <b style="color:green">Closed</b>
                                            }
                                            else if (item.ClosingDate != null)
                                            {
                                                <b style="color:green">Opened</b>
                                            }
                                            else
                                            {
                                                <b style="color:red">Pending</b>
                                            }
                                        </td>
                                        <td>
                                            @if (item.AssignedAsst == null)
                                            {
                                                <a onclick="return callmdl('@item.ID')" class="btn btn-success btn-xs">Assign Expert</a>
                                            }
                                            else
                                            {
                                                <b style="color:green">Assigned</b>
                                            }
                                        </td>


                                    </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <h3>No Data !</h3>
                    }


                </div>
            </div>

        </div>
    </div>

</div>


<script>
    function callmdl(value) {
        $("#ID_").val(value);
        $('#ModalLoginForm').modal('show');
    }
</script>

<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/admin/assign_expert">
                    <div class="row">
                        <div class="col-sm-12" style="    padding: 30px;">
                            <div class="form-group">
                                <label for="email">Select Expert:</label>
                                <input type="hidden" id="ID_" name="ID_" value="" />
                                <select name="expert" required class="form-control">
                                    <option value="">--Select Expert--</option>
                                    @foreach (var item in Expert)
                                    {
                                    <option value="@item.ExpertId">@item.FirstName @item.LastName</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>


                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
