@model IEnumerable<Online_Agricultural_Consultant.Models.tblRegularIssue>
@{
    ViewBag.Title = "solve_regular_issue";
    Layout = "~/Views/Shared/ExpertLayout.cshtml";
}

<div class="page-content">

    <!-- Page header -->
    <div class="page-header">
        <div class="page-title">
            <br />      <br />
            <h1><u>Solve Regular Issues</u></h1>
        </div>
    </div>
    <br />
    <div class="tabbable page-tabs">
        <div class="tab-content">
            @if (TempData["mmm"] != null)
            {
                @Html.Raw(TempData["mmm"])
            }
            <div class="tab-pane active fade in" id="inside">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    @if (Model.Count() > 0 && Model != null)
                    {
                        <div class="datatable">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Subjects</th>
                                        <th>Issue Type</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Solution</th>
                                        <th>Feedback</th>
                                        <th>status</th>
                                        <th>Action</th>
                                        @*<th>Change Staus</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        foreach (var item in Model)
                                        {
                                            i++;
                                            <tr>
                                                <td>@i</td>
                                                <td>@item.Subject</td>
                                                <td>@item.IssueType</td>
                                                <td>@item.Description</td>
                                                <td>@item.CreateDate</td>
                                                <td>@item.Solution</td>
                                                <td>@item.FeedBack</td>
                                                @if (item.Status != null)
                                                {
                                                    <td style="color:@(item.Status == "pending" ? "red" : "green") ">
                                                        <h3>  @item.Status</h3>
                                                    </td>

                                                }
                                                <td>
                                                    @if (item.Status == "pending")
                                                    {
                                                        <button type="button" onclick="return callmdl('@item.IssueId');" class="btn btn-success">Solution</button>
                                                    }
                                                </td>
                                                @*<td>
                                                        @if (item.Solution != null)
                                                        {
                                                            <a href="" class="btn btn-warning">Solved</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="" onclick="return alert('Please Provide Solution !!')" class="btn btn-warning">Solved</a>
                                                        }
                                                    </td>*@
                                            </tr>
                                        }

                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <h3>No Data !</h3>
                    }


                </div>
            </div>

        </div>
    </div>

</div>
<script>
    function callmdl(value) {
        $("#ID_").val(value);
        $('#ModalLoginForm').modal('show');
    }
</script>

<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/Expert/AddSolution">
                        <div class="row">
                            <div class="col-sm-12" style="    padding: 30px;">
                                <div class="form-group">
                                    <label for="email">Solution:</label>
                                    <input type="hidden" id="ID_" name="ID_" value="" />
                                    <input type="text" class="form-control" placeholder="Give Solution" name="Solution" id="Solution">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                           
                    </div>
                  
                   
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->