@model Online_Agricultural_Consultant.Models.tblSiteVisit
@using Online_Agricultural_Consultant.Models
@{
    /**/

    ViewBag.Title = "ViewDetails_asssign_RTA";
    Layout = "~/Views/Shared/ExpertLayout.cshtml";
    Online_Agricultural_Consultant_DBEntities db = new Online_Agricultural_Consultant_DBEntities();
    var abc = db.tblFarmerDetails.Where(a => a.FarmerId == Model.FarmerId).FirstOrDefault();

}

<div class="page-content">

    <!-- Page header -->
    <div class="page-header">

        <div id="reportrange" class="range">

        </div>
    </div>
    <!-- /page header -->
    <!-- Breadcrumbs line -->
    <!-- Callout -->
    @if (TempData["MSG__"] != null)
    {
        <div class="callout callout-success fade in">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h3>@TempData["MSG__"]</h3>
        </div>
    }

    <form class="form-horizontal" action="/USer/applyrealtimeAssistent" method="post" role="form" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-6">
                        <span style="font-size:20px;">
                            Farmer Name :
                            @{
                                if (abc != null)
                                {
                                    <b>@abc.FirstName @abc.LastName</b>
                                }
                            }
                        </span>
                    </div>

                    <div class="col-sm-6">
                        <span style="font-size:20px;">
                            Mobile :
                            @if (abc != null)
                            {
                            <b>@abc.MobileNo </b>
                            }
                        </span>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <span style="font-size:20px;">Field Type :<b> @Model.FieldType</b></span>
                    </div>

                    <div class="col-sm-6">
                        <span style="font-size:20px;">Field Location :<b> @Model.FieldLocation</b></span>
                    </div>

                </div>
                <div class="form-group">

                    <div class="col-sm-6">
                        <span style="font-size:20px;">Crop Description :<b> @Model.CropDesc</b></span>
                    </div>
                    <div class="col-sm-6">
                        <span style="font-size:20px;">Problem Description :<b> @Model.ProblemDesc</b></span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-6">
                        <span style="font-size:20px;">Date :<b> @Model.CreationDate</b></span>
                    </div>
                    <div class="col-sm-6">
                        <span style="font-size:20px;">Assigned Assistent :<b> @(Model.AssignedAsst ?? "--")</b></span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-6">
                        <span style="font-size:20px;">Visit Date :<b>  @(Model.VisitDate)</b></span>
                    </div>
                    <div class="col-sm-6">
                        <span style="font-size:20px;">Visit Interval :<b> @(Model.VisitIntervalInHrs)</b></span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-6">
                        <span style="font-size:20px;">FeedBack :<b>  @(Model.Feedback ?? "--")</b></span>
                    </div>
                    <div class="col-sm-6">
                        <span style="font-size:20px;">Solution Date :<b> @(Model.SolutionDate)</b></span>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-sm-9">
                        @if (Model.ClosingDate == null)
                        {
                            <a value="Submit form" onclick="return callmdl('@Model.ID')" class="btn btn-success">Update</a>
                        }
                        <a href="/Expert/view_visit_request" class="btn btn-warning">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    function callmdl(value) {
        $("#ID_").val(value);
        $('#ModalLoginForm').modal('show');
    }
</script>

<div id="ModalLoginForm" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/Expert/update_RTA">
                    <div class="row">
                        <div class="col-sm-12" style="    padding: 30px;">
                            <div class="form-group">
                                <input type="hidden" id="ID_" name="ID" value="" />
                                <label for="email">Visit Date:</label>
                                <input type="date" class="form-control" name="VisitDate" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Visit Interval (in Hours):</label>
                                <input type="number" min="1" class="form-control" name="VisitIntervalInHrs" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Closing Date:</label>
                                <input type="date" class="form-control" name="ClosingDate" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </div>


                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
